doctype html
<html amp lang="ru">
head
	meta(charset="utf-8")
	title Экскурсии по Беларуси с выездом из Минска от 6$
	link(rel="canonical" href="http://sauko.by")
	link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,900&amp;subset=cyrillic-ext" rel="stylesheet")
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
	meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
	meta(name="description" content="Мы каждую неделю прокладываем новые интересные маршруты экскурсий по Беларуси с выездом из Минска. Возим индивидуальных туристов и готовые коллективы")
	script(type="application/ld+json") {"@context":"http://schema.org","@type": "NewsArticle","headline": "Экскурсии по Беларуси и Минску с индивидуальным гидом","datePublished": "2018-06-28T12:02:41Z","image": ["logo.jpg"]}
	<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
	style(amp-custom)
	link(rel="stylesheet" href="style.css")
body
	amp-sidebar(id="sidebar" layout="nodisplay" side="left")
		.header
			amp-img(width="60" height="60" src="/template/img/70-70.png")
			p.name Ina Sauko
			p.email 
				a(href="mailto:innasavko1995@mail.ru") innasavko1995@mail.ru
		.subtitle
			p Экскурсии		
		.body.first
			ul
				li 
					a(href='/minsk/') 
						<i class="material-icons">account_balance</i>Экскурсии по Минску
				li 
					a(href='/tag/автобусная/')
						<i class="material-icons">directions_bus</i>Автобусные экскурсии
				li 
					a(href='/tag/школьная/') 
						<i class="material-icons">school</i> Для школьников
				li 
					a(href='/tag/производственная/') 
						<i class="material-icons">domain</i>На производство	
				li 
					a(href='/tag/дегустация/') 
						<i class="material-icons">local_florist</i>Анимационные
				li 
					a(href='/tag/анимационная/') 
						<i class="material-icons">cake</i>С дегустацией	
				li 
					a(href='/sbor/') 
						<i class="material-icons">group_add</i>Сборные

		.subtitle
			p Навигация
		.body
			ul
				li
					a(href="/about/") Обо мне. Контакты
				li
					a(href="/trip/") Туры	
				li
					a(href="/attr/") Достопримечательности
				li
					a(href="/блог/") Блог
	.wrap
		header
			.nav
				.site-name
					span.red sauko 
					span.green travel
				.phone
					a(href="tel:+375445400925") +375 44 54 00 925
				button.hamburger(on='tap:sidebar.toggle')
			.panel
				p Написать в <a href="viber://add?number=%2B375445400925"class="viberLink">Viber</a> или <a class="waLink" href="https://api.whatsapp.com/send?phone=375445400925" >WhatsApp</a>
		.main-content
			.bread
				p Главная
			h1.entry-header Экскурсии по Беларуси из Минска
			
			.content
				p Я приглашаю Вас отправиться в увлекательное путешествие по Беларуси, познакомиться с ее историей, культурой, <a href="/attr/">достопримечательностями</a>, открыть для себя новые уголки и составить собственное мнение. В этом разделе Вы можете выбрать и забронировать экскурсии по Беларуси из Минска.

				h3.greendash Категории экскурсий:

				ul.list-group
					li.list-group-item 
						a(href="/minsk/") По Минску
					li.list-group-item 
						a(href="/tag/автобусная/") Автобусные
					li.list-group-item 
						a(href="/tag/школьная/") Для школьников
					li.list-group-item 
						a(href="/tag/производственная/") На производство
					li.list-group-item 
						a(href="/tag/анимационная/") Анимационные
					li.list-group-item 
						a(href='/sbor/') Сборные

				h3.greendash Популярные экскурсии:

				.exc_pop
					.item
						amp-img(width="180" height="135" src="/template/img/180-135_0.jpg")
						label
							p 
								a(href="/nesvigh-castle/") Мир и Несвиж
							p 10 ч
					.item
						amp-img(width="180" height="135" src="/template/img/180-135_1.jpg")
						label
							p 
								a(href="/sula-rub/") Парк истории Сула
							p 6 ч
					.item
						amp-img(width="180" height="135" src="/template/img/180-135_2.jpg")
						label
							p 
								a(href="/belaz/") Завод БЕЛАЗ
							p 5 ч	
					.item
						amp-img(width="180" height="135" src="/template/img/180-135_3.jpg")
						label
							p 
								a(href="/obzorkaminsk/") Обзорка по Минску
							p 3 ч
				
				h3.greendash Полный список экскурсий:

				.exc_list
					.item
						amp-img(width="93" height="90" src="/template/img/93-90_0.jpg")
						.left
							p 
								a(href="#") Видеоэкскурсии по городу Минску
							p.price от 30 р.
						.right
							p 1 ч
					.item
						amp-img(width="93" height="90" src="/template/img/93-90_1.jpg")
						.left
							p 
								a(href="#") Обзорная экскурсия по Минску
							p.price от 50 р.
						.right
							p 3 ч

