@green: #7ab55c;
@red: #ff0101;
@blue:#21759b;

body
{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}
h1
{
	color:#444;
	font-size:1.4rem;
	font-weight: normal;
	text-indent:0;
}
h3 
{
	font-size: 100%;
	font-weight:400;
}
.greendash
{
    border-left: 3px solid #7ab55c;
    padding-left: 1em;
}

a:link {
    color: @green;
}

a:visited {
    color: @blue;
}


amp-sidebar
{
	background-color: #fff;
	width:70vw;
	
	
	.subtitle
	{
		p 
		{
			color: #696969;
		    padding-left: 1em;
		    font-weight: 100;
		    font-size: 0.9rem;
		}
	}

	.header
	{
		border-bottom:1px solid #ccc;
		padding:1em;

		p.name 
		{
			font-size:1.1rem;
		}
		p.email
		{
			margin-bottom: 0;			
			a 
			{
				color:#999;
				text-decoration: none;	    
			}
		}


	}
	.body.first {border-bottom:1px solid #ccc;}
	.body 
	{
		ul 
		{
			padding-left:1em;

			li 
			{
				list-style-type:none;

				a 
				{
					text-decoration: none;
					color:#333;
					font-size: 0.9rem;
				    line-height: 3em;
				    font-weight: 500;
				    i 
				    {
			    	    vertical-align: middle;
						padding-right: 1em;
				    }
				}
			}
		}
	}
}



.wrap
{
	header
	{
		.nav 
		{
			display:flex;
			justify-content: space-between;
			background-color: #f5f3f3;
			height:42px;
			position: fixed;
			left: 0;
			right: 0;
		    align-items: center;
		    padding: 0 1em;
		    z-index:1;

			.site-name
			{
				text-transform: uppercase;
				font-weight:bold;
				.red
				{
					color:@red;
				}
				.green 
				{
					color: @green;
				}
			}

			button 
			{
			    align-self: center;
			    background: url(template/img/hamburger.svg) no-repeat center/30px 24px transparent;
			    border: 0;
			    cursor: pointer;
			    display: none;
			    height: 40px;
			    margin: 0;
			    padding: 0;
			    width: 40px;
			    display: inline-block;
			}

			.phone a
			{
				text-decoration: none;
				color: #333;
				font-size: 0.85em;
			}
		}

		.panel 
		{
			padding: 2.2rem 1rem 0;
		    background: #f9f9f9;
		    font-size:0.9rem;

		    p 
		    {
	    	    padding-bottom: 0.7em;
		    }

		    .viberLink
		    {
		    	color:purple;
		    }
		    .waLink
		    {
		    	color:@green;
		    }
		}
	}

	.main-content
	{
		padding:0 1em;
		line-height: 150%;
	    text-indent: 1em;
	    color: #888;

	    .bread 
	    {
	    	p
	    	{
	    		margin-top:0;
	    		text-indent:0;
	    		font-size:0.9rem;
	    	}
	    }

	    .content 
	    {
	    	p 
	    	{
	    		font-size:0.9rem;
	    	}

	    	.list-group 
	    	{

			  display: flex;
			  flex-direction: column;
			  padding-left: 0;
			  margin-bottom: 0;

				.list-group-item
				{
					position: relative;
					display: block;
					padding: .75rem 1.25rem;
					margin-bottom: -1px;
					background-color: #fff;
					border: 1px solid rgba(0,0,0,.125);

					&:first-child {
					border-top-left-radius: .25rem;
					border-top-right-radius: .25rem;
					}
					&:last-child {
				    margin-bottom: 0;
				    border-bottom-right-radius: .25rem;
				    border-bottom-left-radius: .25rem;
					}

					&:hover
					{
						background-color: #fafafa;
					}

					a 
					{
						color:#888;
						text-decoration: none;
					}
				}

			}

	    	.exc_pop
	    	{
	    		display: flex;
	    		flex-wrap:wrap;
    		    margin-left: -0.7em;
    			margin-right: -1em;

	    		.item 
	    		{
					background-color: #eee;
					width:180px;
					margin: 0 0.3em 0.3em 0;
					border-bottom-right-radius: 6px;
    				border-bottom-left-radius: 6px;
					
					amp-img 
					{
						display:inherit;
					}

					label 
					{
						p 
						{
							margin:0;
							padding:0;
							text-indent:0.4rem;

							a 
							{
								color:#888;
								text-decoration: none;
								font-weight: 900;
							}

							
						}
						p:nth-child(1)
						{
							padding-top:0.4rem;
						}
					}
	    		}
	    	} // популярные экскурсии на главной

	    	.exc_list
	    	{
	    		.item 
	    		{
	    			display:flex;
	    			justify-content: space-between;
	    			margin-bottom: 1em;

	    			&:hover
	    			{
	    				background-color: #fafafa;
	    			}

	    			amp-img
	    			{
	    				border-radius:4px;
	    				min-width:93px;

	    			}

    				.left
    				{
    					flex-grow:1;
						padding-left:1em;
						align-self: center;
						p 
						{
							margin:0;
							padding:0;
							text-indent:0;

							&:nth-child(1)
							{
								color:#333;
								font-weight: 500;
							}

							a
							{
								color:#888;
								text-decoration: none;
							}
							
						}
    				}

    				.right
    				{
						align-self:center;
						min-width:40px;
						p 
						{
							color:#333;
							font-weight: 400;

						}
    				}

	    		}
	    	}
	    }
	}
}